<section class="light_section about-us-section">
  
  <div class="col-sm-7" >
    <h2><%= t('about.atitle')%></h2>
    <p>
      <%= t('about.amain_p')%>
    </p>
  </div>
  <div class="col-sm-5">
    <img height="200" src="images/vintage-653946_640.jpg"/>
  </div>

</section>