<section class="row light_section about-us-section">
  
  <div class="col-sm-12">
    <h2 style='text-align:center;' ><%= t('testimonials.ttitle')%></h2>
  </div>

</section>

<div class="testimonial col-sm-10 col-sm-offset-1">
  <p>
    International Taxes helped me overcome my issues with the IRS.  Mr. Moldes and his team were professional and diligent while assisting with my tax problems.  The team was patient when I did not understand how the issues were affecting my status with the government, and they explained the process to me step-by-step.  I could not have handled the situation without them.  Thanks for all the help guys!
    <br/><br/>
    - Sylvester Johnson
  </p>
</div>
<hr class="col-sm-12" />
<div class="testimonial col-sm-10 col-sm-offset-1">
  <p>
    I want to thank you for the great and outstanding job you do regarding the handling of my
    company and personal taxes day in and day out. The personal care that you provide and
    the knowledge you have has help repair my company’s image with the IRS. From the
    daily operations, quarterly filings, payroll deductions you have done a great job.
    It is a relief to know I’m in great hands. Your thoughtfulness means so much to me.
    Warmly,
    <br/><br/>
    - Victor Castaner (Miami Adjusting Services Inc.)
  </p>
  <br/><br/>
</div>
<hr class="col-sm-12" />
<div class="testimonial col-sm-10 col-sm-offset-1">
  <p>
    International taxes helped me get my personal and business taxes in order after our previous accountant did a terrible job. I have recommended International Taxes to my family and friends time and again.
    <br/><br/>
    - Victor Lopez
  </p>
  <br/><br/>
</div>
<hr class="col-sm-12" />
<div class="testimonial col-sm-10 col-sm-offset-1">
  <p>

    I have had the pleasure of doing my yearly income tax taxes with Mr. Moldes, international taxes for over 10years. His companies' service, professionalism and work ethic have been implacable, truly a reflection of his hard work for all these years.

    They are reliable with a quick turn around. I recommend International Taxes to anyone, whether you are doing your personal taxes, business accounting or immigration services.. simply unique and great!
    <br/><br/>
    - Nelly Ponce (Customer since 2010)
  </p>
  <br/><br/>
</div>

<hr class="col-sm-12" />
<div class="testimonial col-sm-10 col-sm-offset-1">
  <p>

    I have known Jose Moldes with Taxes inc. for more than a decade. I have referred many clients living in the Miami area to his firm. He has demonstrated honest and professional business ideas, with unique estate tax planning strategies.
     
    Aligning your company with the right accounting firm that truly understands your long term goals is a large undertaking on any business. I have spoken with several large accounting firms on behalf of my clients and none of them have given me the personal feeling of intimacy and understanding that International Taxes has given to my clients. Thank you Jose, for your wisdom and guidance.<br/><br/>
    - Allen M. Gonzalez (President/Branch Manager at AMG Legacy Planning)
  </p>
  <br/><br/>
</div>
