<div>
          <table>
            <tbody>

            <tr>
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f1040.pdf" id="link_47"><b>Form 1040</b></a><br>
                  US Individual Income Tax Return</p>
              </td>
              <td >
                <p>Annual income tax return filed by citizens or residents of the United States.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1040gi.pdf"  data-linkpath= '/pub/irs-pdf/i1040gi.pdf' id="link_48">Instructions for Form 1040</a>, <a href="https://www.irs.gov/pub/irs-pdf/i1040tt.pdf"  data-linkpath= '/pub/irs-pdf/i1040tt.pdf' id="link_49">Instructions for 1040 Tax Table</a></p>
              </td>
            </tr>

            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf"  data-linkpath= '/pub/irs-pdf/fw9.pdf' id="link_50"><b>Form W-9</b></a><br>
                  Request for Taxpayer Identification Number (TIN) and Certification</p>
              </td>
              <td >
                <p>Used to request a taxpayer identification number (TIN) for reporting on an information return the amount paid.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/iw9.pdf"  data-linkpath= '/pub/irs-pdf/iw9.pdf' id="link_51">Instructions for Form W-9</a></p>
              </td>
            </tr>

            <tr>
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/fw4.pdf"  data-linkpath= '/pub/irs-pdf/fw4.pdf' id="link_52"><b>Form W-4</b></a><br>
                  Employee's Withholding Allowance Certificate</p>
              </td>
              <td >
                <p>Complete Form W-4 so that your employer can withhold the correct federal income tax from your pay.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/individuals/irs-withholding-calculator" id="link_53">Withholding Calculator</a></p>
              </td>
            </tr>

            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f9465.pdf"  data-linkpath= '/pub/irs-pdf/f9465.pdf' id="link_54"><b>Form 9465</b></a><br>
                  Installment Agreement Request</p>
              </td>
              <td >
                <p>Use this form to request a monthly installment plan if you cannot pay the full amount you owe shown on your tax return (or on a notice we sent you).<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i9465.pdf"  data-linkpath= '/pub/irs-pdf/i9465.pdf' id="link_55">Instructions for Form 9465</a></p>
              </td>
            </tr>

            <tr>
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f8962.pdf"  data-linkpath= '/pub/irs-pdf/f8962.pdf' id="link_56"><b>Form 8962</b></a><br>
                  Premium Tax Credit (PTC)</p>
              </td>
              <td >
                <p>Use Form 8962 to figure the amount of your premium tax credit (PTC) and reconcile it with any advance payments of premium tax credit (APTC).<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i8962.pdf"  data-linkpath= '/pub/irs-pdf/i8962.pdf' id="link_57">Instructions for Form 8962</a></p>
              </td>
            </tr>
            <tr>
              <td >
                <p><b><a target="_blank" href="https://www.irs.gov/pub/irs-pdf/f2848.pdf" data-linkpath ="/pub/irs-pdf/f2290.pdf" id="link_73">Form 2848</a></b><br>
                  Power of Attorney and Declaration of Representative</p>
              </td>
              <td >
                <p>Use this form to authorize an individual to represent you before the IRS<br>
                  <b>Related: </b> <a href="https://www.irs.gov/pub/irs-pdf/i2848.pdf" data-linkpath ="/pub/irs-pdf/i2290.pdf" id="link_74">Instructions for Form 2848</a></p>
              </td>
            </tr>
            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f4506t.pdf"  data-linkpath= '/pub/irs-pdf/f4506t.pdf' id="link_58"><b>Form 4506-T</b></a><br>
                  Request for Transcript of Tax Return</p>
              </td>
              <td >
                <p>Use this form to order a transcript or other return information free of charge, or designate a third party to receive the information.<br>
                  <b>Related: </b><a href="https://www.irs.gov/pub/irs-pdf/f4506.pdf"  data-linkpath= '/pub/irs-pdf/f4506.pdf' id="link_59">Form 4506</a>, <a href="https://www.irs.gov/pub/irs-pdf/f2848.pdf"  data-linkpath= '/pub/irs-pdf/f2848.pdf' id="link_60">Form 2848</a></p>
              </td>
            </tr>

            <tr>
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f8822.pdf"  data-linkpath= '/pub/irs-pdf/f8822.pdf' id="link_61"><b>Form 8822</b></a><br>
                  Change of Address</p>
              </td>
              <td >
                <p>For Individual, Gift, Estate, or Generation-Skipping Transfer Tax Returns</p>
              </td>
            </tr>

            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f1040ez.pdf"  data-linkpath= '/pub/irs-pdf/f1040ez.pdf' id="link_62"><b>Form 1040-EZ</b></a><br>
                  Income Tax Return for Single and Joint Filers With No Dependents</p>
              </td>
              <td >
                <p>Income tax return filed by certain citizens or residents of the United States.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1040ez.pdf"  data-linkpath= '/pub/irs-pdf/i1040ez.pdf' id="link_63">Instructions for Form 1040-EZ</a></p>
              </td>
            </tr>

            <tr>
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/f1040es.pdf"  data-linkpath= '/pub/irs-pdf/f1040es.pdf' id="link_64"><b>Form 1040-ES</b></a><br>
                  Estimated Tax for Individuals</p>
              </td>
              <td >
                <p>Use Form 1040-ES to figure and pay your estimated tax.</p>
              </td>
            </tr>

            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/uac/about-publication-17" id="link_65"><b>Publication 17</b></a><br>
                  Your Federal Income Tax</p>
              </td>
              <td >Explains the general rules for filing a federal income tax return.</td>
            </tr>

            </tbody></table>
        </div>