<table>
            <tbody>
            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/f941.pdf" data-linkpath ="/pub/irs-pdf/f941.pdf" id="link_66"><b>Form 941</b></a><br>
                  Employer's Quarterly Federal Tax Return</p>
              </td>
              <td >
                <p>Employers who withhold income taxes, social security tax, or Medicare tax from employee's paychecks or who must pay the employer's portion of social security or Medicare tax.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i941.pdf" data-linkpath ="/pub/irs-pdf/i941.pdf" id="link_67">Instructions for Form 941</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><b><a href="https://www.irs.gov/pub/irs-pdf/fw4.pdf" data-linkpath ="/pub/irs-pdf/fw4.pdf" id="link_68">Form W-4</a></b><br>
                  Employee's Withholding Allowance Certificate</p>
              </td>
              <td >
                <p>Complete Form W-4 so that your employer can withhold the correct federal income tax from your pay.<br>
                  <b>Related</b>: <a href="https://www.irs.gov/pub/irs-pdf/fw4p.pdf" data-linkpath ="/pub/irs-pdf/fw4p.pdf" id="link_69">Form W-4P</a>, <a href="https://www.irs.gov/pub/irs-pdf/fw4v.pdf" data-linkpath ="/pub/irs-pdf/fw4v.pdf" id="link_70">Form W-4V</a></p>
              </td>
            </tr>

            <tr class="">
              <td>
                <p><a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf"  data-linkpath= '/pub/irs-pdf/fw9.pdf' id="link_50"><b>Form W-9</b></a><br>
                  Request for Taxpayer Identification Number (TIN) and Certification</p>
              </td>
              <td >
                <p>Used to request a taxpayer identification number (TIN) for reporting on an information return the amount paid.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/iw9.pdf"  data-linkpath= '/pub/irs-pdf/iw9.pdf' id="link_51">Instructions for Form W-9</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/fw2.pdf" data-linkpath ="/pub/irs-pdf/fw2.pdf" id="link_71"><b>Form W-2</b></a><br>
                  Wage and Tax Statement</p>
              </td>
              <td >
                <p>Employers must file a Form W-2 for each employee from whom Income, social security, or Medicare tax was withheld.<br>
                  <b>Related</b>: <a href="https://www.irs.gov/pub/irs-pdf/iw2w3.pdf" data-linkpath ="/pub/irs-pdf/iw2w3.pdf" id="link_72">General Instructions for Forms W-2 and W-3</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><b><a href="https://www.irs.gov/pub/irs-pdf/f2290.pdf" data-linkpath ="/pub/irs-pdf/f2290.pdf" id="link_73">Form 2290</a></b><br>
                  Heavy Highway Vehicle Use Tax</p>
              </td>
              <td >
                <p>Use Form 2290 to figure and pay the tax due on highway motor vehicles.<br>
                  <b>Related: <a href="https://www.irs.gov/pub/irs-pdf/i2290.pdf" data-linkpath ="/pub/irs-pdf/i2290.pdf" id="link_74">Instructions for Form 2290</a></b></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><b><a href="https://www.irs.gov/pub/irs-pdf/f2848.pdf" data-linkpath ="/pub/irs-pdf/f2290.pdf" id="link_73">Form 2848</a></b><br>
                  Power of Attorney and Declaration of Representative</p>
              </td>
              <td >
                <p>Use this form to authorize an individual to represent you before the IRS<br>
                  <b>Related: <a href="https://www.irs.gov/pub/irs-pdf/i2848.pdf" data-linkpath ="/pub/irs-pdf/i2290.pdf" id="link_74">Instructions for Form 2848</a></b></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><b><a href="https://www.irs.gov/pub/irs-pdf/f2553.pdf"  id="link_73">Form 2553</a></b><br>
                  Election by a Small Business Corporation</p>
              </td>
              <td >
                <p>A corporation or other entity eligible to be treated as a corporation files this form to make an election under section 1362(a) to be an S corporation<br>
                  <b>Related: <a href="https://www.irs.gov/pub/irs-pdf/i2553.pdf"  id="link_74">Instructions for Form 2553</a></b></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/fss4.pdf" data-linkpath ="/pub/irs-pdf/fss4.pdf" id="link_75"><b>Form SS-4</b></a><br>
                  Application for Employer Identification Number (EIN)</p>
              </td>
              <td >
                <p>Use this form to apply for an employer identification number (EIN).<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/iss4.pdf" data-linkpath ="/pub/irs-pdf/iss4.pdf" id="link_76">Instructions for Form SS-4</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/f1099msc.pdf" data-linkpath ="/pub/irs-pdf/f1099msc.pdf" id="link_77"><b>Form 1099-MISC</b></a><br>
                  Miscellaneous Income</p>
              </td>
              <td >
                <p>File this form for each person to whom you have paid various income during the year.<br>
                  <b>Related:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1099msc.pdf" data-linkpath ="/pub/irs-pdf/i1099msc.pdf" id="link_78">Instructions for Form 1099-MISC</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/f941sb.pdf" data-linkpath ="/pub/irs-pdf/f941sb.pdf" id="link_79"><b>Schedule B (Form 941)</b></a><br>
                  Report of Tax Liability for Semiweekly Schedule Depositors</p>
              </td>
              <td >Employers who withhold income taxes, social security tax, or Medicare tax from employee's paychecks or who must pay the employer's portion of social security or Medicare tax.<br>
                <b>Related</b>: <a href="https://www.irs.gov/pub/irs-pdf/i941sb.pdf" data-linkpath ="/pub/irs-pdf/i941sb.pdf" id="link_80">Instructions for Schedule B (Form 941)</a></td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/f1023.pdf" data-linkpath ="/pub/irs-pdf/f1023.pdf" id="link_81"><b>Form 1023</b></a><br>
                  Application for Recognition of Exemption Under Section 501(c)(3) of the Internal Revenue Code</p>
              </td>
              <td >Organizations file this form to apply for recognition of exemption from federal income tax under section 501(c)(3).<br>
                <b>Related</b>: <a href="https://www.irs.gov/pub/irs-pdf/i1023.pdf" data-linkpath ="/pub/irs-pdf/i1023.pdf" id="link_82">Instructions for Form 1023</a></td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/f940.pdf" data-linkpath ="/pub/irs-pdf/f940.pdf" id="link_83"><b>Form 940</b></a><br>
                  Employer's Annual Federal Unemployment (FUTA) Tax Return</p>
              </td>
              <td >
                <p>Use this form to report your annual Federal Unemployment Tax Act (FUTA) tax.<br>
                  <b>Related</b>: <a href="https://www.irs.gov/pub/irs-pdf/i940.pdf" data-linkpath ="/pub/irs-pdf/i940.pdf" id="link_84">Instructions for Form 940</a></p>
              </td>
            </tr>

            <tr>
              <td >
                <p><a href="https://www.irs.gov/pub/irs-pdf/p15.pdf" data-linkpath ="/pub/irs-pdf/p15.pdf" id="link_85"><b>Publication 15</b></a><br>
                  Circular E, Employer's Tax Guide</p>
              </td>
              <td >This publication explains your tax responsibilities as an employer.<br>
                &nbsp;</td>
            </tr>
            <tr>
              <td>
                <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f8862sp.pdf"><b>Formulario 8862</b></a></span> <br> <span>  </span> </p>
              </td>
              <td> <span> Information To Claim Earned Income Credit After Disallowance.</span> <br></td>
            </tr>
            </tbody></table>