<table>
   <tbody>
      <tr>
         <td>
            <p><span> <a href="https://www.irs.gov/pub/irs-pdf/f941pr.pdf"><b>Formulario 941</b></a></span> <br> <span> Trimestral declaración de impuestos federales del empleador</span> </p>
         </td>
         <td>
            <p> <span> Los empleadores que retienen impuestos sobre la renta, impuesto sobre la seguridad social o al Medicare de los salarios de los empleados o de que deben pagar parte del empleador de la seguridad social y al Medicare.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i941pr.pdf">Instrucciones para el Formulario 941</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <b><a href="https://www.irs.gov/pub/irs-pdf/fw4sp.pdf">Formulario W-4</a></b></span> <br> <span> Certificado de Exención de Retenciones del Empleado</span> </p>
         </td>
         <td>
            <p> <span> Complete el Formulario W-4 para que su empleador pueda retener el impuesto sobre la renta federal correcta de su salario.</span> <br> <span> <b>Relacionado:</b> <a href="https://www.irs.gov/pub/irs-pdf/fw4sp.pdf">Formulario W-4</a></span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/fw9sp.pdf"><b>Formulario W-9</b></a></span> <br> <span> Solicitud de Número de Identificación Fiscal (NIF) y Certificación</span> </p>
         </td>
         <td>
            <p> <span> Se utiliza para solicitar un número de identificación del contribuyente (TIN) para informar sobre la información de devolución del importe pagado.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/iw9sp.pdf">Instrucciones para el Formulario W-9</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/fw2.pdf"><b>Forma W-2</b></a></span> <br> <span> De retribuciones e impuestos</span> </p>
         </td>
         <td>
            <p> <span> Los empleadores deben presentar un Formulario W-2 para cada empleado de quien fue retenido ingresos, la seguridad social, y al Medicare.</span> <br> <span> <b>Relacionado:</b> <a href="https://www.irs.gov/pub/irs-pdf/iw2w3.pdf">Instrucciones Generales para los Formularios W-2 y W-3</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <b><a href="https://www.irs.gov/pub/irs-pdf/f2290sp.pdf">Formulario 2290</a></b></span> <br> <span> Vehículo pesado impuesto de uso de la autopista</span> </p>
         </td>
         <td>
            <p> <span> Use el Formulario 2290 para calcular y pagar el impuesto debido en vehículos de motor carretera.</span> <br> <span> <b>Relacionados: <a href="https://www.irs.gov/pub/irs-pdf/i2290sp.pdf">Instrucciones para el Formulario 2290</a></b></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <b><a href="https://www.irs.gov/pub/irs-pdf/f2848sp.pdf">Formulario 2848</a></b></span> <br> <span> Poder y Declaración de Representante</span> </p>
         </td>
         <td>
            <p> <span> Utilice este Formulario para autorizar a una persona para que lo represente ante el IRS</span> <br> <span> <b>Relacionados: <a href="https://www.irs.gov/pub/irs-pdf/i2848sp.pdf">Instrucciones para el Formulario 2848</a></b></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <b><a href="https://www.irs.gov/pub/irs-pdf/f2553.pdf">Formulario 2553</a></b></span> <br> <span> Elección por una Corporación Pequeña</span> </p>
         </td>
         <td>
            <p> <span> Una corporación u otra entidad elegible para ser tratada como una corporación archivos de esta forma para realizar una elección bajo la sección 1362 (a) sea una corporación S</span> <br> <span> <b>Relacionadas: <a href="https://www.irs.gov/pub/irs-pdf/i2553.pdf">Las instrucciones para el Formulario 2553</a></b></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/fss4.pdf"><b>Formulario SS-4</b></a></span> <br> <span> Solicitud de Número de Identificación Patronal (EIN)</span> </p>
         </td>
         <td>
            <p> <span> Utilice este Formulario para solicitar un número de identificación patronal (EIN).</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/iss4.pdf">Instrucciones para el Formulario SS-4</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f1099msc.pdf"><b>Formulario 1099-MISC</b></a></span> <br> <span> Ingresos diversos</span> </p>
         </td>
         <td>
            <p> <span> Presentar este Formulario para cada persona a la que usted ha pagado varios resultados durante el ejercicio.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1099msc.pdf">Instrucciones para el Formulario 1099-MISC</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f941sb.pdf"><b>Anexo B (Formulario 941)</b></a></span> <br> <span> Informe de Responsabilidad Fiscal para Depositantes de Itinerario Bisemanal</span> </p>
         </td>
         <td> <span> Los empleadores que retienen impuestos sobre la renta, impuesto sobre la seguridad social o al Medicare de los salarios de los empleados o de que deben pagar parte del empleador de la seguridad social y al Medicare.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i941sb.pdf">Instrucciones para el Anexo B (Formulario 941)</a></span> </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f1023.pdf"><b>Formulario 1023</b></a></span> <br> <span> Solicitud de reconocimiento de exención bajo la Sección 501 (c) (3) del Código de Impuestos Internos</span> </p>
         </td>
         <td> <span> Organizaciones presentar este Formulario para solicitar el reconocimiento de la exención de impuestos federales bajo la sección 501 (c) (3).</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1023.pdf">Instrucciones para el Formulario 1023</a></span> </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f940.pdf"><b>Formulario 940</b></a></span> <br> <span> El desempleo Federal Anual (FUTA) Declaración de Impuestos del Patrono</span> </p>
         </td>
         <td>
            <p> <span> Utilice este Formulario para reportar su impuesto anual Ley Federal de Impuesto de Desempleo (FUTA).</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i940.pdf">Instrucciones para el Formulario 940</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/p15.pdf"><b>publicación 15</b></a></span> <br> <span> Circular E, Guía de Impuestos del Patrono</span> </p>
         </td>
         <td> <span> Esta publicación explica sus responsabilidades fiscales como empleador.</span> <br></td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f8862sp.pdf"><b>Formulario 8862</b></a></span> <br> <span>  </span> </p>
         </td>
         <td> <span> Información Para Reclamar el Crédito Por Ingreso del Trabajo Después de Haber Sido Denegado.</span> <br></td>
      </tr>
   </tbody>
</table>