<div>
    <table style="border: transparent; width:100%" cellspacing="0" cellpadding="5" width="" border="1">
        <tbody>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p1sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p1sp.pdf');" id="anch_39">Publicación 1 (SP)</a></td>
        <td align="left" width="436">Derechos del Contribuyente</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p17sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p17sp.pdf');" id="anch_40">Publicación 17 (SP)</a></td>
        <td align="left" width="436">El Impuesto Federal Sobre los Ingresos</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p1546sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p1546sp.pdf');" id="anch_41">Publicación 1546 (SP)</a></td>
        <td align="left" width="436">Oficina del Defensor del Contribuyente - Su Voz Frente al IRS</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p1660sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p1660sp.pdf');" id="anch_42">Publicación 1660 (SP)</a></td>
        <td align="left" width="436">Derechos para la Apelación de Cobros</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p1854sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p1854sp.pdf');" id="anch_43">Publicación 1854 (SP)</a></td>
        <td align="left" width="436">Cómo Preparar la Información de Cobro para los Asalariados y los Individuos Autónomos</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p1915sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p1915sp.pdf');" id="anch_44">Publicación 1915 (SP)</a></td>
        <td align="left" width="436">Entendiendo su Número de Identificación Personal del Contribuyente (ITIN)</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p2053asp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p2053asp.pdf');" id="anch_45">Publicación 2053-A (SP)</a></td>
        <td align="left" width="436">Acceso Rápido y Fácil a la Ayuda Tributaria y a los Productos de Impuestos del <i>IRS</i></td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p3148sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p3148sp.pdf');" id="anch_46">Publicación 3148 (SP)</a></td>
        <td align="left" width="436">Lo que Usted Necesita Saber Sobre las Propinas</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p3524sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p3524sp.pdf');" id="anch_47">Publicación 3524 (SP)</a></td>
        <td align="left" width="436">Lista de Verificación del Crédito por Ingreso del Trabajo</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p3857sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p3857sp.pdf');" id="anch_48">Publicación 3857 (SP)</a></td>
        <td align="left" width="436">Si Usted Sospecha de Alguna Información Falsa *</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p3966sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p3966sp.pdf');" id="anch_49">Publicación 3966 (SP)</a></td>
        <td align="left" width="436">Las Series del Ciclo de Vida - Viviendo y Trabajando con Incapacidades (disponible en letra grande solamente)</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p3995sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p3995sp.pdf');" id="anch_50">Publicación 3995 (SP)</a></td>
        <td align="left" width="436">¿Demasiado Bueno para Ser Verdad? Reconociendo Intrigas Ilegales de Evasión de Impuestos</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4128sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4128sp.pdf');" id="anch_51">Publicación 4128 (SP)</a></td>
        <td align="left" width="436">El Impacto de los Impuestos Sobre la Pérdida del Trabajo *</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4261sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4261sp.pdf');" id="anch_52">Publicación 4261 (SP)</a></td>
        <td align="left" width="436">¿Tiene una Cuenta Financiera en el Extranjero?</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4393esp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4393esp.pdf');" id="anch_53">Publicación 4393 (ENG/SP)</a></td>
        <td align="left" width="436">¿Cómo Llego a Ser un Agente Autorizado de Números <i>ITIN</i> del <i>IRS</i>? *</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4492sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4492sp.pdf');" id="anch_54">Publicación 4492 (SP)</a></td>
        <td align="left" width="436">Información para los Contribuyentes Afectados por los Huracanes Katrina, Rita y Wilma</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4523esp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4523esp.pdf');" id="anch_55">Publicación 4523 (ENG/SP)</a></td>
        <td align="left" width="436">Cuidado con Estafas de <i>Phishing</i></td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4535.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4535.pdf');" id="anch_56">Publicación 4535 (EN/SP)</a></td>
        <td align="left" width="436">Prevención del Robo de Identidad y Asistencia para Víctimas</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p4705sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p4705sp.pdf');" id="anch_57">Publicación 4705 (SP)</a></td>
        <td align="left" width="436">Alivio Tributario para los Dueños de Residencias que Están Luchando Económicamente *</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p547sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p547sp.pdf');" id="anch_58">Publicación 547(SP)</a></td>
        <td align="left" width="436">Hechos Fortuitos, Desastres y Robos</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p584sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p584sp.pdf');" id="anch_59">Publicación 584 (SP)</a></td>
        <td align="left" width="436">Registro de Pérdidas por Hechos Fortuitos (Imprevistos), Desastres y Robos (Propiedad de Uso Personal)</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p594sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p594sp.pdf');" id="anch_60">Publicación 594 (SP)</a></td>
        <td align="left" width="436">El Proceso de Cobro del IRS</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p596sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p596sp.pdf');" id="anch_61">Publicación 596 (SP)</a></td>
        <td align="left" width="436">Crédito por Ingreso del Trabajo</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/PUP/spanish/formspubs/P%205023_final12web.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/PUP/spanish/formspubs/P%205023_final12web.pdf');" id="anch_62">Publicación 5023</a></td>
        <td align="left" width="436">¿Por Qué Debo Pagar Impuestos? Información Sobre Beneficios y Obligaciones de Pagar sus Impuestos.</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/PUP/spanish/formspubs/P%205029_final12web1.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/PUP/spanish/formspubs/P%205029_final12web1.pdf');" id="anch_63">Publicación 5029</a></td>
        <td align="left" width="436">Servicio de Intérprete vía Telefónica</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/PUP/spanish/formspubs/P%205030_final12web.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/PUP/spanish/formspubs/P%205030_final12web.pdf');" id="anch_64">Publicación 5030</a></td>
        <td align="left" width="436">Formularios y Publicaciones del IRS Disponibles en Otros Idiomas</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p850.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p850.pdf');" id="anch_65">Publicación 850</a></td>
        <td align="left" width="436">Glosario de Palabras y Frases en Inglés y Español</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p962sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p962sp.pdf');" id="anch_66">Publicación 962 (SP)</a></td>
        <td align="left" width="436">¡Reciba Todo el Crédito que se Merece este Año!</td>
        </tr>
        <tr>
        <td align="left" valign="top" class="pub-title"> <a target="_blank" href="https://www.irs.gov/pub/irs-pdf/p966sp.pdf" onclick="ga('send', 'event', 'Downloads', 'File Download', '/pub/irs-pdf/p966sp.pdf');" id="anch_67">Publicación 966 (SP)</a></td>
        <td align="left" width="436">La Manera Segura de Pagar los Impuestos Federales</td>
        </tr>
    </tbody>
</table>
</div>
            