<div>

<table>
   <tbody>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f1040.pdf"><b>Formulario 1040</b></a></span> <br> <span> EEUU individual de impuestos sobre ingresos</span> </p>
         </td>
         <td>
            <p> <span> declaración anual de impuestos presentada por los ciudadanos o residentes de los Estados Unidos.</span> <br> <span> <b>Relacionadas:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1040gi.pdf">Instrucciones para el 1040 Tabla de impuestos</a></span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/fw9sp.pdf"><b>Formulario W-9</b></a></span> <br> <span> Solicitud de Número de Identificación Fiscal (NIF) y Certificación</span> </p>
         </td>
         <td>
            <p> <span> Se utiliza para solicitar un número de identificación del contribuyente (TIN) para informar sobre la información de devolución del importe pagado.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/iw9sp.pdf">Instrucciones para el Formulario W-9</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/fw4sp.pdf"><b>Formulario W-4</b></a></span> <br> <span> Certificado de Exención de Retenciones del Empleado</span> </p>
         </td>
         <td>
            <p> <span> Complete el Formulario W-4 para que su empleador pueda retener el impuesto sobre la renta federal correcta de su salario.</span> <br> <span> <b>Relacionado:</b> <a href="https://www.irs.gov/individuals/irs-withholding-calculator&amp;usg=ALkJrhgxZ7CordJUm6P8ZItxfQcATj3E9g" id="link_53">calculadora de retenciones</a></span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f9465sp.pdf"><b>Formulario 9465</b></a></span> <br> <span> Solicitud de Acuerdo a plazos</span> </p>
         </td>
         <td>
            <p> <span> Utilice este Formulario para solicitar un plan de pago mensual si no puede pagar la cantidad total que debe aparece en su declaración de impuestos (o en una nota que le enviamos).</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i9465sp.pdf">Instrucciones para el Formulario 9465</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f8962.pdf"><b>Formulario 8962</b></a></span> <br> <span> La prima de Abono Tributario (PTC)</span> </p>
         </td>
         <td>
            <p> <span> Use el Formulario 8962 para calcular la cantidad de su crédito impuesto sobre las primas (PTC) y conciliar con los anticipos de crédito fiscal prima (APTC).</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i8962.pdf">Instrucciones para el Formulario 8962</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <b><a target="_blank" href="https://www.irs.gov/pub/irs-pdf/f2848sp.pdf">Formulario 2848</a></b></span> <br> <span> Poder y Declaración de Representante</span> </p>
         </td>
         <td>
            <p> <span> Utilice este Formulario para autorizar a una persona para que lo represente ante el IRS</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i2848.pdf">Instrucciones para el Formulario 2848</a></span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f4506tes.pdf"><b>Formulario 4506-T</b></a></span> <br> <span> Solicitud de Transcripción de Declaración de Impuestos</span> </p>
         </td>
         <td>
            <p><span> Utilice este Formulario para pedir una transcripción u otra información de ida y vuelta gratuito, o designar a un tercero para recibir la información.</span> <br> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f8822.pdf"><b>Formulario 8822</b></a></span> <br> <span> Cambio de dirección</span> </p>
         </td>
         <td>
            <p> <span> Para individual, donaciones, patrimonio, o declaraciones de impuestos de transferencia con salto generacional</span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f1040ez.pdf"><b>Formulario 1040-EZ</b></a></span> <br> <span> Declaración de impuestos para contribuyentes individuales y conjuntos sin dependientes</span> </p>
         </td>
         <td>
            <p> <span> declaración de impuestos sobre la renta presentada por ciertos ciudadanos o residentes de los Estados Unidos.</span> <br> <span> <b>Relacionados:</b> <a href="https://www.irs.gov/pub/irs-pdf/i1040ez.pdf">Instrucciones para el Formulario 1040-EZ</a></span> </p>
         </td>
      </tr>
      <tr>
         <td>
            <p> <span> <a href="https://www.irs.gov/pub/irs-pdf/f1040es.pdf"><b>Formulario 1040-ES</b></a></span> <br> <span> Impuesto Estimado para Individuos</span> </p>
         </td>
         <td>
            <p> <span> Use el Formulario 1040-ES para calcular y pagar su impuesto estimado.</span> </p>
         </td>
      </tr>
      <tr class="">
         <td>
            <p> <span> <a href="https://www.irs.gov/uac/about-publication-17&amp;usg=ALkJrhh_43KpIIBOzV85W9hYcagfZcjBfw" id="link_65"><b>publicación 17</b></a></span> <br> <span> El Impuesto Federal sobre la Renta</span> </p>
         </td>
         <td> <span> Explica las reglas generales para la presentación de una declaración de impuestos federales.</span> </td>
      </tr>
   </tbody>
</table>

</div>
